<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="65c9c604-5160-4704-9481-e6e376936bee"
            Publisher="CN=Kyle"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>RssReaderCs</DisplayName>
    <PublisherDisplayName>Kyle</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>RssReaderCs</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="RssReaderCs.App">
        <VisualElements
            DisplayName="RssReaderCs"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="RssReaderCs"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>